[submodule "modules/utils"]
	path = modules/utils
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/utils.git
[submodule "modules/upnp"]
	path = modules/upnp
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/upnpframework.git
[submodule "modules/audio"]
	path = modules/audio
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/audio.git
[submodule "image"]
	path = image
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/image.git
[submodule "modules/image"]
	path = modules/image
	url = https://dirk_vdb@bitbucket.org/dirk_vdb/image.git
[submodule "modules/sqlpp11"]
	path = modules/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "modules/sqlpp11-connector-sqlite3"]
	path = modules/sqlpp11-connector-sqlite3
	url = https://github.com/rbock/sqlpp11-connector-sqlite3.git
