[submodule "modules/utils"]
	path = modules/utils
	url = https://github.com/dirkvdb/utils.git
[submodule "modules/audio"]
	path = modules/audio
	url = https://github.com/dirkvdb/audio.git
[submodule "image"]
	path = image
	url = https://github.com/dirkvdb/image.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/dirkvdb/image.git
[submodule "modules/sqlpp11"]
	path = modules/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "modules/sqlpp11-connector-sqlite3"]
	path = modules/sqlpp11-connector-sqlite3
	url = https://github.com/rbock/sqlpp11-connector-sqlite3.git
