body {
  padding-top: 140px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


.thumbnail .caption {
	outline: none;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.upnpitem {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.equalheight {
    overflow: hidden; 
}

.square-thumb {
    width: 128px;
    height: 128px;
}